@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/dist/css/bootstrap.min.css';

/* @font-face {
  font-family: "Monoist-Regular";
  src: local(Monoist-Regular) format("ttf");

} */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --main:black;
  --light:lightgrey;
}

body {
  font-family: 'Inconsolata', monospace;
}

	/* Layouts */
	
	.grid-centered {
		@apply 
			grid 
			place-items-center
			row-span-5
		;
	}

  .centered {
    @apply
    grid place-items-center h-screen
  }

	.flex-centered {
		@apply
			flex
			justify-center
			items-center
		;
	}

	.horizontal {
		@apply
			flex
			flex-row;
	}

	.vertical {
		@apply
			flex
			flex-col;
	}

  
	/* NavBar */
  .nav-bar-container {
    @apply
      vertical
      justify-evenly
      w-2/5
      ;
  }

  .nav-logo {
    @apply
      w-2/5;
  }
  .navbar {
    background-color:white;
    color: var(--main);
    @apply
      text-xl
      font-semibold
  }
  
  .nav-links {
    @apply
      sm:grid;
      
  }

  .nav-link {
    @apply
      sm:row-span-1;
  }

  .nav-name:hover {
    background-color: var(--forest-gr);
  }
  
  .menu {
    background-color: black;
    @apply
      h-screen
      w-screen
      z-10
      fixed
      top-0
      left-0
      vertical
      justify-evenly
      text-center
    ;
  }
  
  .hover-nav-small {
    @apply 
      hover:text-slate-800 
      hover:font-normal 
      hover:bg-white/40 
      rounded-2xl p-3;
  }